.ant-carousel .slick-dots {
  z-index: 0 !important;
}

.discovery .banner {
  text-align: center;
}

.discovery .banner .disbanner {
  width: 90% !important;
  height: 30% !important;
}

/* .discovery .recommandplaylists {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  gap: 44px 34px;
} */

.discovery .recommandplaylists .item:hover .anticon-play-circle {
  opacity: 0.6 !important;
}

.discovery .recommandmvs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 275px);
  justify-content: space-between;
  gap: 44px 34px;
}

.discovery .recommandmvs .item:hover .anticon-play-circle {
  opacity: 0.6 !important;
}

.discovery .recommandmusic .coverImg {
  position: relative;
}

.discovery .recommandmusic .coverImg .PlayCircleTwoTone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  opacity: 0;
  cursor: pointer;
}

.discovery .recommandmusic .ant-table-row:hover .coverImg .PlayCircleTwoTone {
  opacity: 1;
}