@media screen and (max-width: 450px) {
  .userinfo .userplaylists {
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: center;
    gap: 2.188rem .313rem;
  }

  .userinfo .userplaylists img {
    height: 9.375rem;
  }
}