.playlists .ant-card-meta-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.playlists .header .card {
  width: 200px;
  height: 200px;
}

.playlists .items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.playlists .items .item {
  position: relative;
  margin: 28px;
}

.playlists .items .item .ant-card-meta-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.playlists .items .item .playcount {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  text-align: right;
  opacity: 0;
}

.playlists .items .item .playcount i {
  margin-right: 5px;
}

.playlists .items .item:hover .playcount {
  opacity: 0.6;
  width: 100%;
  height: 23px;
  background-color: #8f879c;
}

.playlists .page {
  text-align: center;
}

.playlists .items .item .play {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  opacity: 0;
}

.playlists .items .item:hover .play {
  opacity: 0.6;
}

@media screen and (max-width: 450px) {
  .playlists .navigate {
    margin-bottom: 20px;
  }

   .playlists .items {
    justify-content: space-around;
    padding: 0;
  }

  .playlists .items .item {
    width: 130px !important;
    height: 250px !important;
    margin: 0 !important;
  }

  .playlists .items .item img {
    height: 130px !important;
  }

  .playlists .items .item .chc-card {
    width: 100% !important;
    height: auto !important;
  }

  .playlists .items .item .ant-card-body {
    padding: 5px 0;
  }

  .playlists .items .item .chc-meta .ant-card-meta-title {
    font-size: 13px !important;
  }

  .playlists .items .item .ant-card-meta-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .playlists .page {
    margin-top: 50px;
  }
}
