.playlists .ant-card-meta-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
}

.playlists .header .card {
  width: 200px;
  height: 200px;
}

.playlists .page {
  text-align: center;
}

.playlists .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  gap: 44px 34px;
  margin: 1.25rem 0;
}

.playlists .items .item:hover .anticon-play-circle {
  opacity: 0.68 !important;
}

@media screen and (max-width: 450px) {
  .playlists .items {
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 30px 20px;
    padding: 0;
  }
}