.mvs .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  gap: 40px 0;
}

.mvs .items .item:hover .anticon-play-circle {
  opacity: 0.6 !important;
}

@media screen and (max-width: 450px) {
  .mvs .items {
    justify-content: center;
  }

  .mvs .items .item .anticon-play-circle {
    opacity: 0.68 !important;
  }
}