.mvs .items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  gap: 40px 0;
}

.mvs .items .ant-card {
  margin-bottom: 0 !important;
  border-radius: 5px;
  overflow: hidden;
}

.mvs .mvCard:hover .PlayCircleTwoTone {
  opacity: 0.7;
}

.mvs .PlayCircleTwoTone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  opacity: 0;
  cursor: pointer;
}

.mvs .ant-card-cover {
  position: relative;
}

.mvs .playcount {
  position: absolute;
  right: 0;
  top: -25px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.mvs .mvCard:hover .playcount {
  top: 0;
}

.mvs .duration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding-right: 5px;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 450px) {
  .mvs .items {
    justify-content: center;
  }

  .mvs .mvCard .playcount {
    top: 0;
  }

  .mvs .mvCard .PlayCircleTwoTone {
    opacity: 0.4;
  }
}
