.top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  width: 100%;
  height: 55px;
  background-color: #e6f7ff;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 999;
}

.top .direction {
  margin-left: 50px;
}

.top .direction i {
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
}

.top .direction i:hover {
  background-color: #59adea;
}

.top .sign {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 35px;
}

.top .sign img {
  width: 100%;
  height: 100%;
}

.top .search {
  width: 290px;
  margin-left: 30px;
}

.top .login {
  margin-left: auto;
  font-size: 15px;
  cursor: pointer;
  margin-right: 35px;
}

.top .chc-avatar {
  margin-left: auto;
  cursor: pointer;
  margin-right: 35px;
}

@media screen and (max-width: 450px) {
  .top .sign {
    margin-left: 15px;
  }

  .top .direction {
    display: none;
  }

  .top .search {
    width: 200px;
    margin-left: 10px;
  }

  .top .login {
    margin-left: auto;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
  }

  .top .chc-avatar {
    margin-right: 5px;
  }

  .top .chc-avatar .chc-name {
    display: none;
  }
}