.top {
  height: 60px;
  background-color: #e6f7ff;
  backdrop-filter: saturate(180%) blur(20px);
  z-index: 999;
}

.top .direction i {
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  padding: 3px;
  transition: .4s;
}

.top .direction i:hover {
  background-color: #59adea;
}

.top .login {
  font-size: 15px;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .top .sign {
    margin-left: 15px;
  }

  .top .direction {
    display: none;
  }

  .top .search {
    width: 200px;
    margin-left: 10px;
  }

  .top .login {
    margin-left: auto;
    margin-right: 20px;
    font-size: 15px;
    cursor: pointer;
  }

  .top .chc-avatar {
    margin-right: 5px;
  }

  .top .chc-avatar .chc-name {
    display: none;
  }
}