.wordbreaks {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.chc-popover-list {
  width: 68vw;
}

#aplayer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3.9rem;
  background-color: white;
  z-index: 999;
}

#aplayer .iconfont {
  cursor: pointer;
  font-size: 1.25rem;
  opacity: 0.8;
}

/* #aplayer .icon-lyric .icon-bottom {
  display: inline-block;
  transition: all .5s ease;
  cursor: pointer;
} */

#aplayer .progress.ant-slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: .25rem;
  padding: 0;
  margin: 0 .063rem;
}

#aplayer .progress .ant-slider-rail,
#aplayer .progress .ant-slider-step,
#aplayer .progress .ant-slider-track {
  height: .188rem;
}

.ant-slider-track {
  background: #24acf2;
}

#aplayer .progress .ant-slider-track,
#aplayer .progress .ant-slider-handle {
  transition: .5s;
}

#aplayer .progress .ant-slider-handle {
  width: 10px;
  height: 10px;
  margin-top: -0.25rem;
}

.lyrc-pic {
  width: 100%;
  height: calc(100% - 3.9rem);
  transition: .5s ease;
}

.lyrc-pic {
  display: grid;
  grid-template-columns: 50% 50%;
}

.lyrc-pic .lyric-poster {
  display: grid;
  width: 100%;
  grid-template-rows: 18.563rem 1.375rem 1.375rem;
  place-items: center center;
  place-content: center center;
  row-gap: 1.25rem;
}

.lyrc-pic .lyric-poster img {
  width: 100%;
  height: 100%;
}

.lyrc-pic .lyric-poster .miniplugin {
  display: flex;
  align-items: center;
  gap: 0 .625rem;
  width: 100%;
}

.lyrc-pic .lyric-poster .miniplugin .progress {
  width: 100%;
  height: 0.55rem;
}

.miniplay_pause {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  place-items: center center;
}

.miniplay_pause .play_pause {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.lyrc-pic .lyric {
  width: 100%;
  overflow: scroll;
}

.lyrc-pic .lyric .content div {
  font-size: 1rem;
  cursor: default;
  transition: .3s;
  border-radius: .313rem;
  padding: .625rem 0;
}

.lyrc-pic .lyric .content div:hover {
  background-color: rgba(212, 216, 218, 0.6);
}

.lyrc-pic img {
  width: 12.5rem;
  height: 12.5rem;
}

.ant-drawer-body {
  padding: 0;
}

@media only screen and (max-width: 500px) {
  .lyrc-pic {
    display: block;
  }

  .lyric-poster,
  .chc-music-list,
  .playOrder {
    display: none !important;
  }

  .lyrc-pic .lyric .content div {
    height: 3.75rem;
    font-size: 1.188rem;
  }

  #aplayer .pic {
    justify-self: flex-start !important;
  }
}