.result .ant-tabs-nav-wrap {
  margin-left: 15px;
}

.result .header .card {
  width: 200px;
  height: 200px;
}

.result .page {
  text-align: center;
}

.result .mvs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  gap: 24px 34px;
}

.result .playlists {
  display: grid;
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: space-between;
  gap: 24px 34px;
}

.result .playlists .item:hover .anticon-play-circle,
.result .mvs .item:hover .anticon-play-circle {
  opacity: 0.68 !important;
}

@media screen and (max-width: 450px) {

  .result .playlists {
    grid-template-columns: repeat(auto-fill, 150px);
    gap: 30px 20px;
    padding: 0;
  }

  .result .mvs {
    justify-content: center;
    gap: 30px 20px;
    padding: 0;
  }

  .result .mvs .item .anticon-play-circle,
  .result .playlists .item .anticon-play-circle {
    opacity: 0.68 !important;
  }

  .result .mvCard .playcount {
    top: 0;
  }

  .result .mvCard .PlayCircleTwoTone {
    opacity: 0.4;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
  }

  .result .mvCard img {
    height: 100%;
  }

  .result .mvCard .ant-card-cover {
    height: 180px;
  }

  .result .mvCard .ant-card-cover .duration {
    position: absolute;
    right: 0;
    bottom: 40%;
  }

  .result .page {
    margin-top: 50px;
  }
}