.mv-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mv-container .mvbox {
  width: 60%;
  min-width: 60%;
  padding: 10px;
}

.mv-container .mvbox video {
  width: 100% !important;
  border-radius: 5px;
  object-fit: fill;
}

.mv-container .mvbox .ant-card-body {
  padding: 12px;
}

.mv-container .simimv {
  width: 35%;
}

.mv-container .simimv .ant-card-cover {
  position: relative;
}

.mv-container .simimv .PlayCircleTwoTone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  opacity: 0.6;
}

.mv-container .simimv .ant-card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 24px;
}

.mv-container .simimv .ant-card {
  border-radius: 10px;
}

@media screen and (max-width: 450px) {
  .mv-container {
    display: block;
  }

  .mv-container .mvbox {
    width: 100%;
  }

  .mv-container .simimv {
    width: 100%;
    margin-top: 20px;
  }

  .mv-container .simimv .items {
    padding: 5px 0;
  }

  .mv-container .simimv .items img {
    width: 100% !important;
  }

  .mv-container .simimv .PlayCircleTwoTone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
  }

  .mv-container .simimv .items .imges {
    width: 150px !important;
  }

  .mv-container .simimv .items .ant-card-meta-title {
    font-size: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mv-container .simimv .items .ant-card-meta-description {
    font-size: 11px;
  }

  /* .mv-container .simimv .items img {
    display: none;
  } */
}
