* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Barlow' !important;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c9cc;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.iconfont,
.anticon {
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

img {
  object-fit: cover;
}

.hover {
  transition: .3s;
}

.hover1 {
  transition: .3s;
}

.supername:hover {
  color: #1088e9;
  text-decoration: underline;
}

.hover:hover {
  background-color: rgba(131, 131, 139, 0.28);
}

.ant-table-tbody tr>td:nth-child(1),
.ant-table-tbody tr>td:nth-child(2) {
  min-width: 9.375rem;
}

.wordbreak {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  html {
    width: 100%;
  }
}