* {
  box-sizing: border-box;
  user-select: none;
  transition: 0.5s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c9cc;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

