* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Barlow' !important;
  font-weight: bold;
}

.iconfont {
  cursor: pointer;
}

img {
  object-fit: cover;
}

@font-face {
  font-family: 'Barlow';
  font-weight: normal;
  src: url('https://chcblogs.com/fonts/Barlow-Regular.woff2') format('woff2'),
    url('https://chcblogs.com/fonts/Barlow-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: medium;
  src: url('https://chcblogs.com/fonts/Barlow-Medium.woff2') format('woff2'),
    url('https://chcblogs.com/fonts/Barlow-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 600;
  src: url('https://chcblogs.com/fonts/Barlow-SemiBold.woff2') format('woff2'),
    url('https://chcblogs.com/fonts/Barlow-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: bold;
  src: url('https://chcblogs.com/fonts/Barlow-Bold.woff2') format('woff2'),
    url('https://chcblogs.com/fonts/Barlow-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 800;
  src: url('https://chcblogs.com/fonts/Barlow-ExtraBold.woff2') format('woff2'),
    url('https://chcblogs.com/fonts/Barlow-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Barlow';
  font-weight: 900;
  src: url('https://chcblogs.com/fonts/Barlow-Black.woff2') format('woff2'),
    url('https://chcblogs.com/fonts/Barlow-Black.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 5px;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c9cc;
  border-radius: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@media screen and (max-width: 450px) {
  html {
    width: 100%;
  }
}

